* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login {
  width: 800px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 5px;
  background: #222;
  display: flex;
  box-shadow: 30px 20px 30px 20px rgba(0, 0, 0, 0.3);
}

.content {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff9e1;
}

.content img {
  width: 90%;
}

.loginform {
  flex-basis: 50%;
  background: #fff;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  padding: 25px;
}

.loginform h1 {
  margin-top: 25px;
  font-size: 2, 5em;
  margin-bottom: 50px;
  color: #222;
}

.tbox {
  background: transparent;
  outline: none;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
  height: 35px;
  margin: 30px 0;
  margin-top: 8px;
}

p.head {
  margin-left: 1%;
  font-size: 12px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

.tbox input {
  background: transparent;
  width: 90%;
  outline: none;
  border: 0;
  padding-left: 5px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

::placeholder {
  color: #777;
}

.btn {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  margin-left: 50%;
  width: 45%;
  border: 0;
  border-radius: 30px;
  text-align: center;
  background: #7b76f1;
  color: #fff;
  padding: 12px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.regis {
  margin-top: 80px;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  text-align: center;
}

.regis p {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-size: 15px;
}

.regis a {
  color: #7b76f1;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 768px) {
  .login {
    flex-direction: column;
    margin: 0 15px;
  }
}
